# Timezone & Permissions
TZ=Australia/Melbourne
PUID=1000
PGID=1000

# Server
SERVER_IP= # LAN IP of the production server

# MariaDB
MARIADB_DATA_PATH=path/to/mariadb
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=fireflydb
MYSQL_USER=firefly
MYSQL_PASSWORD=

# Firefly
FIREFLY_APP_KEY=
FIREFLY_UPLOAD_PATH=/path/to/firefly/upload
FIREFLY_PORT=8090