# Timezone & Permissions
TZ=Australia/Melbourne
PUID=1000
PGID=1000

# MariaDB
MARIADB_DATA_PATH=/opt/appdata/mariadb
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=fireflydb
MYSQL_USER=firefly
MYSQL_PASSWORD=

# Firefly
FIREFLY_APP_KEY=
FIREFLY_UPLOAD_PATH=/opt/appdata/firefly/upload
FIREFLY_PORT=8090