# StreamForge environment configuration
## Copy this to .env and fill in actual values

# User/Group IDs for file permissions
PUID=1000
PGID=1000

# Timezone
TZ=Your/Timezone

# Shared paths
DATA_PATH=/path/to/shared/data

# Container configurations

# NZBget
NZBGET_CONFIG_PATH=/path/to/nzbget/config
NZBGET_DOWNLOADS=/path/to/shared/data/downloads/usenet
NZBGET_PORT=6789

## Prowlarr
PROWLARR_CONFIG_PATH=/path/to/prowlarr/config
PROWLARR_PORT=9696

## Radarr
RADARR_CONFIG_PATH=/path/to/radarr/config
RADARR_PORT=7878

## Sonarr
SONARR_CONFIG_PATH=/path/to/sonarr/config
SONARR_PORT=8989